@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none !important;
}
.dark {
  background-color: #000 !important;
  color: white !important ;
}
.light {
  background-color: #000 !important;
  color: white !important ;
}

a {
  color: inherit !important;
}
/* general classses */
.Pink-color {
  color: #d504b5 !important;
}
.btn-pink {
  background-color: #d504b5;
  border: 1px solid #d504b5;
  color: white;
  max-height: 40px;
}
.btn-pink:hover {
  background-color: white;
  border: 1px solid #d504b5;
  color: #d504b5;
  transition: all 0.3s;
}
/* navbar  */
.navbar {
  position: sticky;
}
.navbar-toggler {
  color: inherit !important;
  background-color: transparent !important;
  border-color: inherit !important;
}
.navbar-brand {
  font-weight: 900;
  font-style: normal;
}
input,
input:active,
input:hover,
input:focus {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  background-color: transparent !important;
}
.search-box {
  background-color: white !important;
  border-radius: 20px;
  border: 0.2px solid rgba(0, 0, 0, 0.253) !important;
}
.search-box:active,
.search-box:focus-within:hover {
  border: 1px solid black !important;
}
.seacrh-box button {
  border: none !important;
  border-left: 1px solid rgba(0, 0, 0, 0.253) !important;
  margin-block: 4px !important;
  border-radius: 0 !important;
}
.seacrh-box button:hover {
  border-left: 1px solid black !important;
}
#darkModeBtn {
  /* width: 30px; */
  /* padding: 0; */
  color: inherit !important;
}

/* hero sedction  */

.mailToLogin {
  background-color: white !important;
  border-radius: 3px;
  border: 0.2px solid rgba(0, 0, 0, 0.253) !important;
  padding: 10px;
  color: rgba(0, 0, 0, 0.253);
}
.mailToLogin:active,
.mailToLogin:focus-within,
.mailToLogin:hover {
  border: 1px solid black !important;
  color: black;
}
.mailToLogin .fa-envelope {
  border-right: 1px solid rgba(0, 0, 0, 0.253) !important;
  padding-right: 10px;
  font-size: 20px;
}
.heroImg {
  display: grid;
  place-items: center;
}
.heroImg img {
  width: 400px;
}

/* footer  */
footer {
}
footer ul {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
}

.footer-item {
  padding-inline: 6px;
  font-weight: bold;
  cursor: pointer;
}
.footer-item i,
.footer-item a {
  color: inherit !important;
  font-weight: normal;
  text-decoration: none !important;
}
.footer-item i:hover,
.footer-item a:hover {
  color: rgb(0, 0, 0) !important;
  font-weight: normal;
  text-decoration: none !important;
}

/* freeBooks */
.card-btn {
  border: 1px solid gray;
  font-size: 16px;
  padding: 2px;
  color: inherit;
  background-color: transparent;
  font-weight: 400;
}
.card {
  border: 0 !important;
  box-shadow: 0 6px 10px rgba(62, 62, 62, 0.589) !important;
  transition: all, 0.3s;
  background-color: inherit !important;
  color: inherit;
  border: 1px solid white !important;
}
.card img {
  height: 300px;
}
.card:hover {
  position: relative;
  transform: translateY(-10px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212) !important;
}
/* Add this to your CSS file */
.slick-dots {
  margin-bottom: 10px !important; /* Adjust the margin as needed */
}

.slick-dots li button:before {
  color: inherit !important; /* Adjust dot color if needed */
}

/* login */
.login-box {
  border: 2px solid inherit !important;
  background-color: inherit !important;
  box-shadow: 0 10px 10px rgba(62, 62, 62, 0.589) !important;
}
.login-input {
  border: 0.2px solid rgba(0, 0, 0, 0.253) !important;
  background-color: white !important;
}
.login-input:hover,
.login-input:active,
.login-input:focus {
  border: 0.2px solid rgb(0, 0, 0) !important;
  background-color: white !important;
}
.col-form-label {
  color: black !important;
}
#emailHelp {
  color: inherit !important;
}
